

header{
    background-color: #373F51 ;
    color: #FFCA3A ;
    font-family: "Sour Gummy","Arial","SansSerif";
}
body{

    background-color: #373F51 ;
    font-family: "Sour Gummy","Arial","SansSerif";
}
main{
    display:flex;
    height:600px;
}
section{
    width:70%;
    height:70%;
    #map {
    position: absolute; top: 4rem; bottom: 3rem; width:70%; height:70%;
    border-radius: 1rem;
}
}
article{
    position:absolute;

    background-color:#FFCA3A;
    height:22%;
    width:70%;
    border-radius: 16px;
    bottom:0;
    button{display:flex;
        float:right;
        top:30px;
        flex-wrap: wrap;
   }
}
aside{
    width:30%;
    height:70%;
    color:white;
}

button {
    color:white;
    font-size: medium;
    width:125px;
    height:39px;
    background-color: #FF595E;
    border-radius: 10px;
    font-family: "Sour Gummy", "Arial", "SansSerif";
}
footer{
    position: absolute;
    font-family: "Sour Gummy","Arial","SansSerif";}
ul{display:flex;
    text-decoration:none ;
    list-style-type: none;

    margin: 0;
}
    .hintsFlow{
        justify-content: space-evenly;
        display:inline-block;
        float:right;
        color:white;

    }

